
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: auto;
    background-color: navy;
}

#container {
    display: grid;
    grid-template-columns: minmax(auto, 850px) ;
    justify-content: center;
    gap: 10px;

}

#new-project {
    border-radius: 15px;
    width: 100px;
    height: 30px;
    border: 0;
    justify-self: center;
    margin-top: 10px;
}

#container > form {
    width: 500px;
    justify-self: center;
    margin-top: 10px;
}

#container > form > input,
.ProjectCard > .ProjectForm input {
    border-radius: 15px;
}

#container > form button,
.ProjectCard > .ProjectForm button,
.ProjectCard .ProjectOptions button {
    border-radius: 15px;
    width: 50px;
    border: 1px solid lightslategray;
}

.ProjectCard > div:first-child,
.ProjectCard > .ProjectForm,
#container > form  
 {
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: palegreen;
}

.ProjectCard > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
    padding: 10px;
}

.ProjectCard {
    background-color: lightslategray;   
    border-radius: 20px 20px 15px 15px;
}

.TaskCard {
    /* height: 120px; */
    /* background-color: white; */
    position: relative;
}

.TaskCard .TaskHeader  {
    height: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    
    border-radius: 15px;
    background-color: lightskyblue;
    
}

.TaskCard .StandardInfo {
    padding-left: 10px;
}

p {
    margin: 0;
}

.TaskCard > div {
    height: 120px;
    border-radius: 15px;
    display: grid;
    background-color: white;
}

.TaskCard .Options {
    justify-self: center;
    align-self: end;
}

.TaskCard .Options button {
    width: 50px;
    background-color: lightskyblue;
    border: 1px solid lightgray;
}

.TaskCard .Options button:hover {
    background-color: blue;
    color: white;
}

.TaskCard .MoreButton,
.TaskCard .LessButton {
    border-radius: 15px 0 0 0;
}

.TaskCard .DeleteTaskButton {
    border-radius: 0 15px 0 0;
}

.TaskCard .ExtraInfo {
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 120px;
    z-index: 1;
    background-color: white;
}

.TaskForm {
    width: 200px;
    border-radius: 15px;
    background-color: white;
}

.TaskForm > div > div:first-of-type {
    height: 30px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    
    border-radius: 15px;
    background-color: lightskyblue;
}

.TaskForm > div > div + div {
    padding-left: 10px;
}

.TaskFormOption {
    display: flex;
    justify-content: center;
    align-items: end;
}

.TaskForm button {
    width: 50px;
    background-color: lightskyblue;
    border: 1px solid lightgray;
}

.TaskForm button:hover {
    background-color: blue;
    color: white;
}

.TaskFormSave {
    border-radius: 15px 0 0 0;
}

.TaskFormCancel {
    border-radius: 0 15px 0 0;
}

.TaskForm input[type='text'] {
    width: 120px;
}

textarea {
    width: 180px;
    resize: vertical;
}